
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Custom colors
$light-grey: #DDDDDD;
$light-grey-opac-70: rgba(221, 221, 221, 0.7);
$charcoal: #4c5454;
$charcoal-opac-50: rgba(76, 84, 84, 0.7);
$peachy-pink: #fb9f89;
$peachy-pink-opac-50: rgba(251, 159, 137, 0.71);
$pearl: #fffff;
$pearl-opac-50: #fffff;
$sky-blue: #2dc7ff;
$sky-blue-opac-50: rgba(45, 199, 255, 0.71);
$aqua-marine: #49dcb1;
$aqua-marine-opac-50: rgba(73, 220, 177, 0.71);
$butterscotch: #F3B151;
$butterscotch-opac-70: rgba(243, 177, 81, 0.71);
