
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Semantic
@import "~semantic-ui/dist/semantic.css";

// Custom
@import "profile";
@import "forum";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.universal-box-shadow{
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0,0,0, .15);
  -moz-box-shadow: 0 1.5rem 4rem rgba(0,0,0, .15);
  box-shadow: 0 1.5rem 4rem rgba(0,0,0, .15);
}

.Feed {
  padding: 1rem;


  &-Image{
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
    width: 2.5rem !important;
    height: 2.5rem !important;
    border-radius: 15rem !important;
  }

}