@import "variables";

.Comment {
  padding: 1rem;
  background-color: $blue-grey-opac-20;

  &-User {
    padding: .5rem;
    background-color: white;
    border-bottom-left-radius: 5rem;
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
  }

  &-Physician {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

}